mixin button(text,cl,submit,link,id,submit2,icon,close)
    if submit

        button.button(type="submit" class= cl value="submit")= text
    else if link

        a.button(href= link class= cl)= text


    else if id
        a.button(href="javascript:;" class= cl data-fancybox="" data-src= id)= text

    else if icon
        a.button(class= cl href="/")
            span= text
            svg(class="")
                use(xlink:href= img + "sprite.svg#" + icon)
    else if close
        a.button(class= cl href="#hide")
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_close")

    else if submit2
        .button(value="cart/add" class= cl)
            span= text
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_cart")

    else if cart
        button.button(type="submit" class= cl)
            span= text
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_cart")
    else
        .button(class= cl)= text